* {
    padding: 0;
    margin: 0;

    --sky-color: #87CEEB;
    --epipelagic-zone-bg-color: #37a9ff;
    --mesopelagic-zone-bg-color: #0079d4;
    --bathypelagic-zone-bg-color: #005da3;
    --abyssopelagic-zone-bg-color: #004172;
    --hadalpelagic-zone-bg-color: #002541;
    --ocean-bottom-bg-color: #000000;
}

h3 {
    text-align: center;
}

.surface {
    height: 400px;
    background-image: linear-gradient(var(--sky-color), var(--epipelagic-zone-bg-color));
}

.epipelagic-zone {
    height: 200px;
    background-image: linear-gradient(var(--epipelagic-zone-bg-color), var(--mesopelagic-zone-bg-color));
}

.mesopelagic-zone {
    height: 800px;
    background-image: linear-gradient(var(--mesopelagic-zone-bg-color), var(--bathypelagic-zone-bg-color));
}

.bathypelagic-zone {
    height: 3000px;
    background-image: linear-gradient(var(--bathypelagic-zone-bg-color), var(--abyssopelagic-zone-bg-color));
}

.abyssopelagic-zone {
    height: 2000px;
    background-image: linear-gradient(var(--abyssopelagic-zone-bg-color), var(--hadalpelagic-zone-bg-color));
}

.hadalpelagic-zone {
    height: 4984px;
    background-image: linear-gradient(var(--hadalpelagic-zone-bg-color), var(--ocean-bottom-bg-color));
}
