* {
    padding: 0;
    margin: 0;

    --background-color: black;
    --surface-bg-color: aqua;
    --epipelagic-zone-bg-color: rgb(0, 196, 196);
    --epipelagic-zone-bg-color: rgb(0, 182, 182);
    --mesopelagic-zone-bg-color: rgb(0, 150, 150);
    --bathypelagic-zone-bg-color: rgb(0, 119, 119);
    --abyssopelagic-zone-bg-color: rgb(0, 116, 116);
    --hadalpelagic-zone-bg-color: rgb(0, 77, 77);
}

body {
    background-color: var(--background-color);
}

.surface {
    height: 100px;
    background-color: var(--surface-bg-color);
}

.epipelagic-zone {
    height: 200px;
    background-color: var(--epipelagic-zone-bg-color);
}

.mesopelagic-zone {
    height: 800px;
    background-color: var(--mesopelagic-zone-bg-color);
}

.bathypelagic-zone {
    height: 3000px;
    background-color: var(--bathypelagic-zone-bg-color);
}

.abyssopelagic-zone {
    height: 2000px;
    background-color: var(--abyssopelagic-zone-bg-color);
}

.hadalpelagic-zone {
    height: 4984px;
    background-color: var(--hadalpelagic-zone-bg-color);
}
