* {
  padding: 0;
  margin: 0;
  --mobile-scale: 2;
  --tablet-scale: 3;
  --desktop-scale: 4;
  --scale: var(--mobile-scale);
}

.controls button {
  position: fixed;
  right: 1rem;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}

.controls #changeModeButton {
  bottom: 1rem;
}

.controls #playAudioButton {
  bottom: 5.5rem;
}

@font-face {
  font-family: OceanFamily;
  src: url('../fonts/ThewaveRegular-OVOe8.ttf');
}

@media (min-width: 768px) {
  /* Tablets */
  * {
    --scale: var(--tablet-scale);
  }
}

@media (min-width: 992px) {
  /* Desktop */
  * {
    --scale: var(--desktop-scale);
  }
}
