:root {
  --mobile-scale: 2;
  --tablet-scale: 3;
  --desktop-scale: 4;
  --scale: var(--mobile-scale);
  --max-width: 768px;
  --filter-drop-shadow: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}

* {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 50%;
  filter: var(--filter-drop-shadow);
}

.controls {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.3;
}

.controls button {
  height: 4rem;
  width: 4rem;
}

#playAudioButton {
  height: 6.5rem;
  width: 6.5rem;
  background-color: transparent;
  border: solid white;
  border-width: 0.5rem;
  font-weight: bold;
  color: white;
  transition: transform 200ms, border 200ms;
}

#playAudioButton:active {
  transform: scale(1.1);
  border-width: 0.3rem;
}

@font-face {
  font-family: OceanFamily;
  src: url('../fonts/ThewaveRegular-OVOe8.ttf');
}

@media (min-width: 768px) {
  /* Tablets */
  * {
    --scale: var(--tablet-scale);
  }
}

@media (min-width: 992px) {
  /* Desktop */
  * {
    --scale: var(--desktop-scale);
  }
}
